form(
	method='GET'
	action='./'
	target='_self'
	)
	+input({
		type: 'number'
		})(
		min=1
		max=100
		step=1
		required
		)#limit Limit
	+input({
		type: 'name'
		})(
		required
		)#user Username
	+input({
		type: 'text'
		})(
		required
		)#sr Subreddit
	+input({
		type: 'submit'
		})#submit
