.js:not(:root)
	display none

.js:root
	.js
		display block
	.no-js
		display none

h1
h2
	text-align center

dl
	columns 99 20rem
	div
		-webkit-column-break-inside avoid
		column-break-inside @-webkit-column-break-inside
		&::before
			display block
			float right
			content attr(data-score) ' (' attr(data-rank) ')'
		dt
			font-weight bold
			text-align left
			margin 1ch 0
		dd
			text-align justify
			a
				display block

a
	text-decoration none
	color #22e
