@require 'node_modules/google-material-color/dist/palette.styl'

primary-colour = 'Blue Grey' '800'
background-colour = 'Blue Grey' '900'
accent-colour = 'Deep Orange' 'A200'
text-direction = ltr
Buttons = {
	Submit: 'Light Blue' 'A700'
}

start = (text-direction == 'ltr') ? left : right
end = (text-direction == 'ltr') ? right : left

@import 'mixins'
$primary-text-color-dark = dark($primary-text-color)

@require 'stylus-material'

sm-init(
	false
	)
footer
	sm-footer()

.js:not(:root)
	display none

.js:root
	.js
		display block
	.no-js
		display none

:root
	min-height 100vh

body
	@extends :root
	display flex
	flex-flow column
	justify-content center
	>*:not(footer)
		flex 1 1 auto
		justify-content center

:empty:not(input)
	display none

h1
h2
	text-align center
	a
		word-break break-all
		word-wrap break-word

dl
	columns 99 20rem
	padding 1ch
	div
		-webkit-column-break-inside avoid
		column-break-inside @-webkit-column-break-inside
		&::before
			display block
			float end
			content attr(data-score) ' points on r/' attr(data-sr) ' (#' attr(data-rank) ')'
			margin-start 1ch
			-webkit-margin-start @margin-start
			-moz-margin-start @margin-start
		dt
			font-weight bold
			text-align start
			margin-before 1ch
			-webkit-margin-before @margin-before
			-moz-margin-before @margin-before
			margin-after 1ch
			-webkit-margin-after @margin-after
			-moz-margin-after @margin-after
		dd
			text-align justify
			margin-start 20px
			-webkit-margin-start @margin-start
			-moz-margin-start @margin-start
			a
				display block

a
	text-decoration none
	color $accent-color


@import 'input'
